<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post a new message</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>


<div>
    <form action="">
        <label for="title">Title</label><input type="text" id="title">
        <label for="content">Content</label><input type="text" id="content">
        <label for="tagList">Tags</label>
        <ul id="tagList">
            <li>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTagModal">new
                </button>
            </li>
        </ul>
        <button id="send" name="send">Send</button>
    </form>

</div>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     id="addTagModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form action="">
                <h3>Add a new tag :</h3>
                <label for="newTagName">Name</label><input type="text" id="newTagName">
                <button type="button" class="btn btn-primary" id="sendNewTag">Submit</button>
            </form>
        </div>
    </div>
</div>


<script
        src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>


<script type="application/javascript">

    $.ajax({
        url: "http://localhost:3000/getTags"
    })
        .done(function (response) {

            for (i in response) {
                $('#tagList').append(
                    "<li><label for=" + response[i].name + ">" + response[i].name + "</label><input type='checkbox'  class = 'tagChkBox' id=" + response[i].name + " value=" + response[i].name + "></li>"
                )
            }
        });

    $('#sendNewTag').click(function () {
        tagname = $('#newTagName').val()
        $.ajax({
            method: "POST",
            url: "http://localhost:3000/post_new_tag",
            data: {
                name: tagname
            }
        })
            .done(function (msg) {
                console.log(msg);
                $('#tagList').append(
                    "<li><label for=" + tagname + ">" + tagname + "</label><input type='checkbox' class = 'tagChkBox' id=" + tagname + " value=" + tagname + "></li>")
            });
    })
</script>


<script type="application/javascript">
    function getChecked() {
        tags = []
        $('.tagChkBox').each(function () {
            if ($(this).checked) {
                console.log("append !");
                tags.push($(this).val())
            }
        });
        console.log("tags :", tags);
        return tags
    }


    $('#send').click(function () {
        $.ajax({
            method: "POST",
            url: "http://localhost:3000/post_new",
            data: {
                title: $('#title').val(),
                content: $('#content').val(),
                tags: getChecked()
            }
        })
            .done(function (msg) {
                console.log(msg)
            });
    })


</script>
</body>
</html>